<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-description">
      <p>{{- site.description | escape -}}</p>
    </div>

    <div class="acknowldgements">
        Imagery © <a href="https://wiki.openstreetmap.org/wiki/Esri">Esri</a>.
        City data from <a href="http://www.geonames.org">GeoNames</a>.
        Authors are responsible for their respective content.
    </div>

  </div>

</footer>
