<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:locale" content="en_US">
  <meta property="og:site_name" content="{{ site.title }}">
  {% if page.url %}
    <meta property="og:url" content="{{ page.url | absolute_url }}">
  {% endif %}
  {% if page.title %}
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type" content="article">
  {% else %}
    <title>{{ site.title }}</title>
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:type" content="website">
  {% endif %}
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}">
  {% else %}
    <meta name="description" content="{{ site.tagline }}">
    <meta property="og:description" content="{{ site.tagline }}">
  {% endif %}
  {% if page.author %}
    <meta name="author" content="{{ page.author }}">
  {% endif %}
  {% if page.image %}
    <meta property="og:image" content="{{ page.image | absolute_url }}">
  {% endif %}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="/assets/leaflet/leaflet.css" />
  <script src="{{ "/assets/leaflet/leaflet.js" | relative_url }}"></script>
  <script src="{{ "/assets/cities.js" | relative_url }}"></script>
  {%- feed_meta -%}
</head>
